.form {
  width: 100%;

  h2 {
    font-size: 2.3rem;
    color: black;
  }

  Button {
    margin: 1rem;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    background-color: #F0F1F1;
    text-transform: unset;

    &:hover {
      background: white;
    }
  }

  .warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    background: $yellow-color;
    min-height: 25vh;

    @include mobile {
      text-align: center;
      align-items: center;
      padding: 2rem;
      margin-top: 2rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  h3 {
    display: block;
    font-family: $font-base;
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 2rem 0;

    @include mobile {
      font-size: 25px;
    }
  }

  p {
    font-size: 1.4rem;
  }

  .firstForm, .secondForm, .thirdForm, .fourthForm, .summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
    background: url("../../assets/Background-Form.jpg") left/cover;
    min-height: 70vh;

    select {
      background: rgba(231, 231, 231, 0.93);
      padding: 0 3rem;
    }

    .selectBag, .selectCity {
      font-size: 1.3rem;
      padding: 0 1.5rem;
      text-align: center;
      margin: 0 1rem 2rem 1rem;
    }

    .buttonsWhoHelp {
      button {
        padding: 0.5rem 1rem;
        margin: 1rem;
        transition: 1s;
        border: 1px solid black;
        font-size: 1.2rem;

        &:hover {
          background: $yellow-color;
        }
      }

      .checkedbutton {
        background-color: $yellow-color;
      }
    }
  }

  .thirdForm label {
    flex-direction: column;

    &:last-of-type {
      margin-top: 2rem;
      margin-bottom: -4rem;
    }
  }

  label {
    display: flex;
  }

  .thirdForm input, .fourthForm input {
    border: 1px solid black;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .war {
    color: red;
    font-size: large;
    margin-top: -1.2rem;
    margin-bottom: 1.5rem;

    @include mobile {
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  .firstForm {
    .buttons {
      display: flex;
      margin-top: 8rem;

      @include mobile {
        margin-top: 3rem;
        justify-content: center;
      }
    }
  }

  .secondForm {
    .buttons {
      display: flex;
      margin-top: 17.3rem;
      flex-direction: row-reverse;

      @include mobile {
        margin-top: 12rem;
        flex-direction: column;
        align-self: center;
      }
    }
  }

  .thirdForm {
    .buttons {
      display: flex;
      margin-top: 4.8rem;
      flex-direction: row-reverse;

      @include mobile {
        margin-top: 5rem;
        flex-direction: column;
        align-self: center;
      }
    }
  }

  .fourthForm {

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    .formInput {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include desktop {
        display: flex;
        flex-direction: row;
      }

      label {
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin: 0 0 1.5rem .1rem;

        input {
          margin: 0 0 0 2rem;
          padding: .2rem 0;
        }

        textarea {
          padding: 0;
          border: 1px solid black;
          margin: 0;
        }
      }

      div:last-child {

        @include desktop {
          margin-left: 3rem;
        }

        label:last-child p {
          width: 30%;
        }
      }
    }

    .buttons {
      display: flex;
      margin-top: 4.8rem;
      flex-direction: row-reverse;
      justify-content: start;

      @include mobile {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .summary {
    display: flex;

    @include mobile {
      align-items: center;
    }

    h3 {
      font-size: 22px;
    }

    p {
      padding: 0.5rem;
    }

    img {
      margin: 0;
      width: 3rem;
    }

    .resultData {
      display: flex;
      width: 100%;

      @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      div {
        margin-top: 0.5rem;

        @include mobile {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row-reverse;

      @include mobile {
        margin-top: 3rem;
        flex-direction: column;
        align-self: center;

      }
    }
  }

  .container {
    display: block;
    position: relative;
    padding-left: 4rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 28px;
      width: 28px;
      border: 1px solid $black-color;
      background-color: rgba(231, 231, 231, 0.93);

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $grey-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &:hover input ~ .checkmark {
      background-color: $yellow-color;
    }

    input:checked ~ .checkmark {
      background-color: $yellow-color;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }

}

.thanks {
  background: url("../../assets/Background-Form.jpg") left/cover;
  min-height: 70vh;
  display: flex;
  justify-content: start;
  align-items: center;

  @include mobile {
    justify-content: center;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    h2 {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    img {
      height: auto;
    }
  }

  Button {
    text-transform: unset;
    font-size: 1.3rem;
    width: 13rem;
    height: 4rem;

  }
}