@import "src/scss/settings/colors";

.homeHeader {
  display: flex;
  max-width: 90%;
  justify-content: space-between;

  .photo {
    width: 50%;
    height: 80vh;
    background: url("../../assets/Home-Hero-Image.jpg") right/cover;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-top: 2rem;

    &__login {
      margin-bottom: 1.5rem;
    }

    .log {
      color: $grey-color;
      cursor: pointer;
      padding: .5rem;
      margin: 1rem;
      border: 1px solid white;
      font-size: 1rem;

      &:hover {
        border: 1px solid $yellow-color;
      }
    }

    a {
      text-decoration: none;
      color: $black-color;
      margin: 1rem;
      font-size: 1.13rem;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10rem 0;

    h1 {
      font-size: 2.4rem;
    }

    img {
      margin: 2rem 0;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;

      button {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: lighter;
        width: 14rem;
        background-color: white;
        border: 1px solid $grey-color;
      }
    }
  }
}