@import "../../../scss/main";

.summary {

  h2 {
    font-size: 2.3rem;
    color: black;
    font-weight: 600;
    padding-top: 4rem;
  }

  form {
    padding-left: 5rem;
    background: url("../../../assets/Background-Form.jpg") center/cover;
    min-height: 90vh;

    h2 {
      width: 80%;

      @include desktop {
        width: 75%;
      }
    }

    .buttons {
      position: relative;
      top: 33rem;

      Button {
        text-transform: unset;
        font-size: 1.5rem;
        width: 8rem;
        height: 4rem;

        &:last-child {
          margin-left: 2rem;
          width: 12rem;
        }
      }
    }
  }
}