@import "../../../scss/main";

.thanks {
  background: url("../../../assets/Background-Form.jpg") center/cover;
  min-height: 90vh;

  @include mobile {
    margin-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13rem 0 0 5rem;
    max-width: 50%;

    @include mobile {
      max-width: 80%;
      padding-left: 2rem;

      h1 {
        font-size: 1.8rem;
      }
    }

    Button {
      text-transform: unset;
      font-size: 1.5rem;
      width: 13rem;
      height: 4rem;
    }
  }
}